version: "3.8"

services:
    web:
        build: .
        ports:
            - "8000:8000"
        volumes:
            - ./storage:/home/user/app/storage
        env_file:
            - .env
        restart: unless-stopped
        depends_on:
            - redis

    worker:
        build: .
        command: celery -A app.celery_app worker -l info -Q gpu_tasks -c 1
        volumes:
            - ./storage:/home/user/app/storage
        env_file:
            - .env
        restart: unless-stopped
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: 1
                          capabilities: [gpu]
        depends_on:
            - redis

    cpu_worker:
        build: .
        command: celery -A app.celery_app worker -l info -Q cpu_tasks
        volumes:
            - ./storage:/home/user/app/storage
        env_file:
            - .env
        restart: unless-stopped
        depends_on:
            - redis

    beat:
        build: .
        command: celery -A app.celery_app beat -l info
        volumes:
            - ./storage:/home/user/app/storage
        env_file:
            - .env
        restart: unless-stopped
        depends_on:
            - redis

    redis:
        image: "redis:7-alpine"
        restart: unless-stopped
        volumes:
            - redis_data:/data

volumes:
    redis_data:
